@import "_variables.css";

.form-control:focus{border-color: var(--app-accent-color);  box-shadow: 0 0 0 0.1rem var(--app-accent-light);}

.input-group-text{
    background-color: var(--app-accent-color)
}

.greeting{
    color: var(--app-primary-light-color);
}

body{
    background-color: var(--app-primary-light-color);
}